* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#About > img {
    width: 150px;
}
body {
    background-image: url(img/Fotolia_131131395_M.jpg);
    background-size: cover;
    background-color: #f0fdf4;
}

@media screen and (max-width: 800px) {
    .tabcontent {
        font-size: 16px;
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }
  @media screen and (max-width: 800px) {
    #About {
        font-size: 16px;
        width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }
  #Menu > li {
    font-size: 20px;
    text-decoration: none;
    list-style: none;
    background-color: #9f1239;
    opacity: 85%;
    padding: 15 15px;
  }
   li > img {
    width: 100%;
    max-width: 200px;

  }
  #About > p {
    max-width: 500px;
  }
  .lili {
    font-weight: bold;
    color: #fbffc2;
    font-size: 20px;
    text-decoration: none;
    list-style: none;
    opacity: 85%;
    padding: 15 15px;
  }
  #Home > h1, .open {
    text-align: center;
  }
  a > img {
    max-width: 150px;
  }
  li > img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
  @media screen and (max-width: 800px) {
    li > img {
        width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
        max-width: 400px;
    }
  }
  @media screen and (max-width: 800px) {
    #Menu, #About {
        width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
        width: 300px;
    }
  }
  @media screen and (max-width: 800px) {
    #Home {
        width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
        width: 400px;
    }
  }
  @media screen and (max-width:800px) {
    body {
      background-size: cover;
      background-attachment:fixed }
  }
#About, #Menu {
    text-align: center;
        border: 0.5px thin #9f1239;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

#About > h1 {
    font-family: fantasy;
    padding: 20px;
    
}
#About > p {
    padding: 10px;
}
#Menu  {
    color: white;
}
#Menu > h2 {
    font-size: 35px;
    text-align: center;
}


nav {
    background-color: #9f1239;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}
nav > button {
    color: white;
    background-color: #9f1239;
    font-size: 16px;
    padding: 12px 35px 12px;
    border-radius: 9px; 
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #9f1239;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  .open  {
    color: white;
    font-size: 22px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

  }

  /* Style the tab content */
  .tabcontent {
    color: #f7fda7;
    display: none;
    padding: 6px 12px;
    border-top: none;
    width: max-content;
    margin: auto;
  }